@charset "utf-8";
@import url("https://www.suhwooree.com/fonts/Cafe24SsurroundAir.ttf");

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  perspective: 2000px;
}

body {
  font-family: "Cafe24 Ssurround Air";
}

.btn-menu {
  z-index: 3;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2rem;
  color: #fff;
  display: none;
}

#main-menu {
  z-index: 2;
  width: 200px;
  height: 100vh;
  background-color: #eee;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: left center;
  transform: rotateY(15deg);
  transition: all 0.5s;
}

#main-menu.on {
  transform: rotateY(120deg);
}

#main-menu .logo {
  width: 70%;
  margin: 80px auto;
}

#main-menu img {
  display: block;
  width: 100%;
}

#main-menu .gnb li {
  line-height: 5rem;
}

#main-menu .gnb a {
  text-decoration: none;
  color: #222;
  font-size: 2rem;
  font-weight: bolder;
}

#container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform-origin: right center;
  transition: all 0.5s;
}

#container.on {
  transform: rotateY(-10deg);
}

#container > div {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  opacity: 0;
  transition: all 0.5s;
}

#container > div.on {
  z-index: 2;
  opacity: 1;
}
#container > div > p {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  transition: all 1.5s;
}
#container > div.on > p {
  transform: rotateY(0deg);
}

#container > .baseball > p:nth-child(1) {
  grid-column: 1 / span 2;
  background: url(../img/baseBall_01.jpg) no-repeat left center;
  background-size: cover;
}
#container > .baseball > p:nth-child(2) {
  background-color: lime;
}
#container > .baseball > p:nth-child(3) {
  background: url(../img/baseBall_03.jpg) no-repeat right center;
}

#container > .baseball > p:nth-child(4) {
  grid-column: 1 / span 2;
  grid-row: 2;
  background-color: #888;
  text-transform: uppercase;
  font-size: 3rem;
}

#container > .baseball > p:nth-child(5) {
  grid-column: 3;
  grid-row: 2 / span 2;
  background: url(../img/baseBall_05.jpg) no-repeat;
  background-size: cover;
}

#container > .baseball > p:nth-child(6) {
  grid-column: 4;
  grid-row: 2 / span 2;
  background: url(../img/baseBall_06.jpg) no-repeat;
  background-size: cover;
}

#container > .baseball > p:nth-child(7) {
  background: url(../img/baseBall_07.jpg) no-repeat;
  background-size: cover;
}
#container > .baseball > p:nth-child(8) {
  background: url(../img/baseBall_08.jpg) no-repeat;
  background-size: cover;
}

#container > .baseball > p:nth-child(9) {
  background-color: lime;
}
#container > .baseball > p:nth-child(10) {
  background: url(../img/baseBall_10.jpg) no-repeat;
  background-size: cover;
}
#container > .baseball > p:nth-child(11) {
  background-color: lime;
  font-size: 3rem;
  text-transform: uppercase;
  color: #222;
}
#container > .baseball > p:nth-child(12) {
  background: url(../img/baseBall_12.jpg) no-repeat;
  background-size: cover;
}

#container > .football > p:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  background: url(../img/footBall_01.jpg) no-repeat;
  background-size: cover;
}

#container > .football > p:nth-child(2) {
  background-color: lime;
  font-size: 3rem;
  text-transform: uppercase;
  color: #222;
}

#container > .football > p:nth-child(3) {
  background: url(../img/footBall_03.jpg) no-repeat;
  background-size: cover;
}

#container > .football > p:nth-child(4) {
  grid-column: 3 / span 2;
  grid-row: 2;
  background: url(../img/footBall_04.jpg) no-repeat;
  background-size: cover;
}
#container > .football > p:nth-child(5) {
  background: url(../img/footBall_05.jpg) no-repeat;
  background-size: cover;
  grid-column: 3;
  grid-row: 3 / span 2;
}

#container > .football > p:nth-child(6) {
  background-color: lime;
  text-transform: uppercase;
  font-size: 3rem;
  color: #222;
}

#container > .football > p:nth-child(7) {
  background: url(../img/footBall_07.jpg) no-repeat;
  background-size: cover;
}

#container > .volleyball > p:nth-child(1) {
  background: url(../img/volleyBall_01.jpg) no-repeat;
  background-size: cover;
}
#container > .volleyball > p:nth-child(2) {
  background: url(../img/volleyBall_02.jpg) no-repeat;
  background-size: cover;
}

#container > .volleyball > p:nth-child(3) {
  background: url(../img/volleyBall_03.jpg) no-repeat;
  background-size: cover;
}
#container > .volleyball > p:nth-child(4) {
  background-color: #777;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}
#container > .volleyball > p:nth-child(5) {
  grid-column: 1;
  grid-row: 2 / span 2;
  background: url(../img/volleyBall_05.jpg) no-repeat;
  background-size: cover;
}

#container > .volleyball > p:nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  background: url(../img/volleyBall_06.jpg) no-repeat;
  background-size: cover;
}

#container > .volleyball > p:nth-child(7) {
  background: url(../img/volleyBall_07.jpg) no-repeat;
  background-size: cover;
}
#container > .volleyball > p:nth-child(8) {
  background: url(../img/volleyBall_08.jpg) no-repeat;
  background-size: cover;
}
#container > .volleyball > p:nth-child(9) {
  background: url(../img/volleyBall_09.jpg) no-repeat;
  background-size: cover;
}
#container > .volleyball > p:nth-child(10) {
  background: url(../img/volleyBall_10.jpg) no-repeat;
  background-size: cover;
}
#container > .volleyball > p:nth-child(11) {
  background-color: #777;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

#container > .volleyball > p:nth-child(12) {
  background: url(../img/volleyBall_12.jpg) no-repeat;
  background-size: cover;
}
